.row
  .col-md-10.col-md-offset-1
    %ul.list-group
      - if @questions.present?
        - @questions.each do |question|
          %li.list-group-item= link_to question.title, question_path(question)
      - else
        %h2 No questions yet.
    = link_to 'Add new question', new_question_path
