= render @question
%hr
%h3 Answers:
#answers
  = render @question.answers.best_first

%h2 Add Answer
= render partial: 'answers/form', locals: { question: @question, answer: @answer }

%hr
= link_to 'Back to questions list', root_path
