= simple_form_for [question, answer || question.answers.build], remote: true do |f|
  = f.text_area :body, label: false, placeholder: 'Answer', input_html: { class: 'form-control', required: true }
  = f.button :submit, 'Add answer'
