%h2 Add answer
- if @answer.errors.any?
  %h2 Some errors:
  %ul
  - @answer.errors.full_messages.each do |error|
    %li= error
= simple_form_for [@question, @answer] do |f|
  = f.text_area :body, required: true
  = f.button :submit, 'Add answer'
